.border-custom {
  position: relative;
  border-radius: 78px;
  backdrop-filter: blur(30px);
  background: linear-gradient(
    157deg,
    rgba(255, 255, 255, 0) -14.12%,
    rgba(78, 78, 78, 0.2) 101.01%
  );
  inset: 8;
  box-shadow:
    0 0 1px rgba(255, 255, 255, 0.3),
    0 0 1px rgba(255, 255, 255, 0.2),
    0 0 1px rgba(255, 255, 255, 0.1),
    0 0 1px rgba(79, 255, 245, 0.15);
}

/* rgba(78, 78, 78, 0.14) 101.01%, 
rgba(255, 255, 255, 0) 170%
 */

.border-custom::before {
  content: "";
  position: absolute;
  inset: 0; /* couvre tout l’élément */
  padding: 1px; /* épaisseur de la bordure */
  border-radius: inherit;
  background-image: conic-gradient(
    from 267deg,
    transparent 0%,
    rgba(255, 255, 255, 0.6) 2%,
    rgba(255, 255, 255, 1) 30%,
    transparent 55%,
    transparent 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.border-custom-mobile {
  background: linear-gradient(
    157deg,
    rgba(255, 255, 255, 0.01) 20.12%,
    rgba(78, 78, 78, 0.14) 101.01%
  );
  backdrop-filter: blur(40px);
}

.card-hover {
  --border-width: 2px;
  --radius: 24px;

  position: relative;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
}

.card-image {
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card-hover:hover .card-image {
  transform: scale(1.1);
}

.card-hover:hover::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(
    from var(--angle),
    transparent 0%,
    transparent 50%,
    #dcc4ff 70%,
    #b3f1ff 90%,
    transparent 100%
  );
  background-origin: border-box;
  -webkit-mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask: linear-gradient(black, black), linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spinBorder 10s linear infinite;
}

@supports not (background: paint(something)) {
  .card-hover:hover::before {
    background-image: conic-gradient(
      transparent 0%,
      transparent 50%,
      #dcc4ff 70%,
      #b3f1ff 90%,
      transparent 100%
    );
  }
}

.light-border {
  --border-width: 1px;
  --radius: 28px;

  position: relative;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
}

.light-border::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(
    from var(--angle),
    transparent 0%,
    transparent 50%,
    #dcc4ff 70%,
    #b3f1ff 90%,
    transparent 100%
  );
  background-origin: border-box;
  -webkit-mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask: linear-gradient(black, black), linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spinBorder 10s linear infinite;
}

@supports not (background: paint(something)) {
  .light-border::before {
    background-image: conic-gradient(
      transparent 0%,
      transparent 50%,
      #dcc4ff 70%,
      #b3f1ff 90%,
      transparent 100%
    );
  }
}

.border-grey-animed {
  --border-width: 1px;
  --radius: 28px;
  position: relative;
  border: 0.3px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--radius);
  box-shadow:
    0 2px 10px 0 rgba(0, 0, 0, 0.2),
    0 0 2px 0 rgba(255, 255, 255, 0.5) inset;
}

.border-grey-animed::before {
  content: " ";
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: inherit;
  background-image: conic-gradient(
    from var(--angle),
    transparent 0%,
    transparent 50%,
    #dcc4ff 60%,
    #b3f1ff 90%,
    transparent 100%
  );
  padding: 1px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spinBorder 10s linear infinite;
  pointer-events: none;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spinBorder {
  to {
    --angle: 1turn;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: none;
  }
}
