@font-face {
    font-family: 'Jakarta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Jakarta/PlusJakartaSans-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Jakarta Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Jakarta/PlusJakartaSans-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Jakarta SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Jakarta/PlusJakartaSans-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Jakarta Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Jakarta/PlusJakartaSans-Bold.ttf) format('ttf');
  }
  