.bg-gradient-gray-200 {
  background: linear-gradient(187deg, #fff -15.61%, #c7c7c7 121.8%);
  box-shadow:
    5px 5px 15px var(--sds-size-depth-400) rgba(0, 0, 0, 0.2),
    0px 0.35px 0.5px 0px #fff inset;
}

.bg-gradient-gray-400 {
  background: linear-gradient(
    90deg,
    rgba(27, 27, 27, 0) -3.01%,
    rgba(222, 254, 145, 0.04) 24.73%,
    rgba(181, 239, 255, 0.12) 49.8%,
    rgba(220, 196, 255, 0.12) 73.8%,
    rgba(27, 27, 27, 0) 102.68%
  );
  background-color: #1b1b1b;
}

.bg-gradient-gray-400-hover {
  background: linear-gradient(180deg, #515151 -60.84%, #202020 76.57%);
}
.bg-gradient-gray-500 {
  background: linear-gradient(180deg, #454545, #1b1b1b);
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.4));
}

.bg-gradient-gray-600 {
  background-color: #1b1b1b;
  box-shadow: 0px 0px 2px 0px rgba(191, 191, 191, 0.3) inset;
  filter: drop-shadow(0px 0px 80px #000);
}

.text-gradient {
  background: linear-gradient(40deg, #474747 -1.05%, #929292 74.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-top {
  position: relative;
}

.shadow-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; /* hauteur de l’ombre */
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.3); /* ombre vers le bas */
  z-index: 10;
  pointer-events: none;
}
.shadow-left {
  position: relative;
}

.shadow-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; /* hauteur de l’ombre */
  box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.3); /* ombre vers le bas */
  z-index: 10;
  pointer-events: none;
}
.halo-effect {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.halo-effect::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(144, 238, 144, 0.6); /* Vert clair */
  filter: blur(5px);
  opacity: 0.7;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.halo-effect:hover::before {
  box-shadow: 0 0 30px 15px rgba(173, 216, 230, 0.9); /* Bleu clair */
  opacity: 1;
  transform: scale(1.1);
}

.neon-text {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff;
  transition: all 0.3s ease-in-out;
}

.neon-text:hover {
  text-shadow:
    0 0 10px #fff,
    0 0 20px #00ffff,
    0 0 40px #00ffff,
    0 0 80px #00ffff;
}

.holographic-card {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  transition:
    transform 1s ease,
    box-shadow 1s ease;
  mask: url(#svg-mask);
  -webkit-mask: url(#mask0_2993_4146);
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -150%;
  left: 0;
  width: 100%;
  height: 150%;
  background: linear-gradient(
    90deg,
    rgba(225, 255, 139, 0) 0%,
    rgba(220, 196, 255, 0.5) 25%,
    rgba(176, 245, 255, 0.5) 50%,
    rgba(225, 255, 139, 0.5) 75%,
    rgba(225, 255, 139, 0) 100%
  );
  opacity: 0;
  transform: skewX(-20deg);
  pointer-events: none;
}

.holographic-card:hover::before {
  animation: holographic-move 1s ease forwards;
  opacity: 1;
}

.holographic-card:hover {
  transform: scale(1.03);
}

.holographic-speciality {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  transition:
    transform 1s ease,
    box-shadow 1s ease;
}

.holographic-speciality::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -150%;
  left: 0;
  width: 100%;
  height: 150%;
  background: linear-gradient(
    90deg,
    rgba(225, 255, 139, 0) 0%,
    rgba(220, 196, 255, 0.5) 25%,
    rgba(176, 245, 255, 0.5) 50%,
    rgba(225, 255, 139, 0.5) 75%,
    rgba(225, 255, 139, 0) 100%
  );
  opacity: 0;
  transform: skewX(-20deg);
  pointer-events: none;
}

.holographic-speciality:hover::before {
  animation: holographic-move 1s ease forwards;
  opacity: 1;
}

.holographic-speciality:hover {
  transform: scale(1.03);
}

/* Animation qui se lance uniquement au hover */
@keyframes holographic-move {
  0% {
    transform: translateX(-150%) skewX(-20deg);
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(150%) skewX(-20deg);
    opacity: 0.4;
  }
}

.glassy {
  background: linear-gradient(
    90deg,
    rgb(160, 156, 206) 0%,
    rgba(255, 255, 255, 0.94) 30%,
    #fff 50%,
    #9995c5 70%,
     rgb(160, 156, 206) 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glassy-shimmer 3s linear infinite;
}

@keyframes glassy-shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.metal {
  border-radius: 15.104px;
  border: 0.861px solid rgba(156, 156, 156, 0.50);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 64.01%);
  box-shadow: 0 -4.307px 3.446px 0 rgba(255, 255, 255, 0.25) inset, 0 3.446px 3.446px 0 rgba(255, 255, 255, 0.25) inset, -36.178px 88.722px 26.703px 0 rgba(145, 145, 145, 0.00), -23.257px 56.851px 24.98px 0 rgba(145, 145, 145, 0.01), -12.921px 31.871px 20.673px 0 rgba(145, 145, 145, 0.03), -6.03px 14.643px 15.505px 0 rgba(145, 145, 145, 0.04), -1.723px 3.446px 8.614px 0 rgba(145, 145, 145, 0.05);
  backdrop-filter: blur(8.613807678222656px);
}

.bg-drop-grey {
  border-top: 1px solid rgba(156, 156, 156, 0.50);
  border-bottom: 1px solid rgba(156, 156, 156, 0.50);
  background: linear-gradient(270deg, rgba(102, 102, 102, 0.30) 50.05%, rgba(0, 0, 0, 0.30) 100%);
  box-shadow: 0 126.972px 35.61px 0 rgba(0, 0, 0, 0.00), 0 81.291px 32.552px 0 rgba(0, 0, 0, 0.01), 0 45.681px 27.517px 0 rgba(0, 0, 0, 0.05), 0 20.323px 20.323px 0 rgba(0, 0, 0, 0.09), 0 5.036px 11.151px 0 rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(13.23214340209961px);
}
