 
  .bg-gradient-gray-200 {
    background: linear-gradient(187deg, #FFF -15.61%, #C7C7C7 121.8%);
    box-shadow: 5px 5px 15px var(--sds-size-depth-400) rgba(0, 0, 0, 0.20), 0px 0.35px 0.5px 0px #FFF inset;
  }

  .bg-gradient-gray-400 {
    background: linear-gradient(180deg, #454545,#1B1B1B);
  }
  
  .bg-gradient-gray-400-hover {
    background: linear-gradient(180deg, #515151 -60.84%, #202020 76.57%);
  }



  .text-gradient {
    background: linear-gradient(40deg, #474747 -1.05%, #929292 74.31%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }

  .border-custom {
    border: 1px solid rgba(32, 32, 32, 0.50);
    background: linear-gradient(187deg, #FFF -15.61%, #C7C7C7 121.8%);
    box-shadow: 13.727px 13.727px 41.18px var(--sds-size-depth-400) rgba(0, 0, 0, 0.20), 0px 0.961px 1.373px 0px #FFF inset;
}
