@keyframes moveGradient {
  0% {
    background-position: 0% 33%;
  }
  50% {
    background-position: 33% 66%;
  }
  100% {
    background-position: 66% 100%;
  }
}

.holographic-effect {
  animation: moveGradient 5s ease infinite;
  background-size: 400% 400%;
}


.holographic-text {
  background: linear-gradient(270deg, #E1FF8B, #DCD5FF, #DCC4FF, #B0F5FF, #B0F5F0,  #E1FF8B);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:moveGradient 3s ease infinite;
}
.holographic-bloc {
  background:
  linear-gradient(270deg, #E1FF8B, #DCD5FF, #DCC4FF, #B0F5FF, #B0F5F0,  #E1FF8B);
  box-shadow: 0 0 10px #DCC4FF, 0 0 20px #B0F5FF, 0 0 30px #E1FF8B;
  filter: blur(0.5px);
}

.holographic-border {
  position: relative; 
}

/* Pseudo-élément pour créer l'effet holographique */
.holographic-border::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: -1; /* Met le pseudo-élément derrière le contenu */
  background: linear-gradient(270deg, #E1FF8B, #DCD5FF, #DCC4FF, #B0F5FF, #B0F5F0, #E1FF8B);
  animation: moveGradient 5s ease infinite; /* Animation du dégradé */
  border-radius: 90px; /* Pour que le flou soit arrondi également */
  filter: blur(3px); /* Ajoute un flou à l'effet holographique */
}
