.line {
    stroke: #575757;
    stroke-width: 0.550559;
    stroke-miterlimit: 10;
    stroke-dasharray: 2400; /* Une valeur suffisamment grande pour couvrir la longueur des lignes */
    stroke-dashoffset: 2400; /* Commence complètement masqué */
    animation: draw 8s infinite; /* Durée de l'animation */
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0; 
    }
  }
  
