@keyframes scrollRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .scroll-right {
    animation: scrollRight 20s linear infinite;
  }